global
  daemon
  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice
  maxconn 4096

defaults
  log         global
  retries     3
  maxconn     2000
  contimeout  5000
  clitimeout  50000
  srvtimeout  50000

listen stats
  bind 127.0.0.1:9090
  balance
  mode http
  stats enable
  stats auth admin:admin

<% _.each(tasks, function (task) { %>
  <% if (task.port !== 80) { %>
listen <%= task.name %>_<%= task.port %>
  bind 0.0.0.0:<%= task.port %>
  mode tcp
  option tcplog
  balance leastconn
    <% _.each(task.endpoints, function (endpoint, idx) { %>
  server <%= task.name %>-<%= idx %> <%= endpoint %> check
    <% }) %>
  <% } %>
<% }) %>


<% if (_.where(tasks, { port: 80 }).length > 0) { %>
frontend http-in
  bind 0.0.0.0:80
  mode http
  option forwardfor       except 127.0.0.0/8
  option http-server-close
  option httplog

  <% _.each(tasks, function (task) { %>
    <% if (task.port == 80) { %>
  acl host_<%= task.name %> hdr(host) -i <%= task.name %>
  use_backend <%= task.name %>_backend if host_<%= task.name %>
    <% } %>
  <% }) %>

  <% _.each(tasks, function (task) { %>
    <% if (task.port == 80) { %>
backend  <%= task.name %>_backend
  mode http
  option httplog
  option httpchk GET /
  balance leastconn

      <% _.each(task.endpoints, function (endpoint, idx) { %>
  server <%= task.name %>-<%= idx %> <%= endpoint %> check
      <% }) %>
    <% } %>
  <% }) %>
<% } %>
